* {
  box-sizing: border-box;
}

body {
  background-color: rgba(150, 40, 27, 0.3);
  border: 0;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  width: 706px;
  min-width: 706px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0 auto;
}

.App > .app-title {
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
}

.game {
  width: 706px;
  min-width: 706px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(85, 85, 85, 0.3);
}

/**
  *
  */

.board {
  width: 506px;
  min-width: 506px;
  height: 506px;
  min-width: 506px;
  border: 3px solid black;
  background-color: #F2F1EF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board-style {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  width: 25px;
  height: 25px;
  background-color: red;
  border: 1px solid black;
  transition: 0.2s;
}

.player {
  width: 23px;
  height: 23px;
  background-color: #EC644B;
  border: 1px solid yellow;
  position: relative;
}

/**
.player:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  box-shadow:
    15px 4px 0 black,
    15px 12px 0 black;
}
*/

.player.up {
  border-top: 3px solid red !important;
}
.player.down {
  border-bottom: 3px solid red !important;
}
.player.left {
  border-left: 3px solid red !important;
}
.player.right {
  border-right: 3px solid red !important;
}





























