* {
  box-sizing: border-box;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
}

.App {
  margin: 50px;
  width: 700px;
  height: 700px;
  background-color: rgba(80, 80, 80, 0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/**
  *
  */

.board {
  width: 506px;
  height: 506px;
  border: 3px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board-style {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tile {
  width: 25px;
  height: 25px;
  background-color: red;
  border: 1px solid black;
}

.player {
  width: 23px;
  height: 23px;
  background-color: #EC644B;
  border: 1px solid yellow;
}
.player.up {
  border-top: 3px solid red !important;
}
.player.down {
  border-bottom: 3px solid red !important;
}
.player.left {
  border-left: 3px solid red !important;
}
.player.right {
  border-right: 3px solid red !important;
}

/**
  *
  */
.tile-zero {
  background-color: blue;
}
.tile-one {
  background-color: pink;
}
.tile-two {
  background-color: green;
}